<p id="notice"><%= notice %></p>

<p>
  <b>Olark key:</b>
  <%= @olark.olark_key %>
</p>

<p>
  <b>Olark secret:</b>
  <%= @olark.olark_secret %>
</p>

<p>
  <b>Olark code:</b>
  <%= @olark.olark_code %>
</p>


<%= link_to 'Edit', edit_olark_path(@olark) %> |
<%= link_to 'Back', olarks_path %>
